ccflow/CCFlowDesigner/Service References/WS/Designer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RunSQLReturnTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSQLReturnTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditLab">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="oid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fk_mapdata" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="frontColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frontName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frontWeight" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditLabResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditMapAttr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mypk" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditMapAttrResponse">
        <s:complexType />
      </s:element>
      <s:element name="DelLine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="oid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelLineResponse">
        <s:complexType />
      </s:element>
      <s:element name="DelLab">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="oid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelLabResponse">
        <s:complexType />
      </s:element>
      <s:element name="DelMapAttr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mypk" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelMapAttrResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RunSQLReturnTableSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTable" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTableResponse" />
  </wsdl:message>
  <wsdl:message name="EditLabSoapIn">
    <wsdl:part name="parameters" element="tns:EditLab" />
  </wsdl:message>
  <wsdl:message name="EditLabSoapOut">
    <wsdl:part name="parameters" element="tns:EditLabResponse" />
  </wsdl:message>
  <wsdl:message name="EditMapAttrSoapIn">
    <wsdl:part name="parameters" element="tns:EditMapAttr" />
  </wsdl:message>
  <wsdl:message name="EditMapAttrSoapOut">
    <wsdl:part name="parameters" element="tns:EditMapAttrResponse" />
  </wsdl:message>
  <wsdl:message name="DelLineSoapIn">
    <wsdl:part name="parameters" element="tns:DelLine" />
  </wsdl:message>
  <wsdl:message name="DelLineSoapOut">
    <wsdl:part name="parameters" element="tns:DelLineResponse" />
  </wsdl:message>
  <wsdl:message name="DelLabSoapIn">
    <wsdl:part name="parameters" element="tns:DelLab" />
  </wsdl:message>
  <wsdl:message name="DelLabSoapOut">
    <wsdl:part name="parameters" element="tns:DelLabResponse" />
  </wsdl:message>
  <wsdl:message name="DelMapAttrSoapIn">
    <wsdl:part name="parameters" element="tns:DelMapAttr" />
  </wsdl:message>
  <wsdl:message name="DelMapAttrSoapOut">
    <wsdl:part name="parameters" element="tns:DelMapAttrResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EditLabHttpGetIn">
    <wsdl:part name="oid" type="s:string" />
    <wsdl:part name="fk_mapdata" type="s:string" />
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
    <wsdl:part name="frontColor" type="s:string" />
    <wsdl:part name="frontName" type="s:string" />
    <wsdl:part name="frontWeight" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EditLabHttpGetOut" />
  <wsdl:message name="EditMapAttrHttpGetIn">
    <wsdl:part name="mypk" type="s:string" />
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EditMapAttrHttpGetOut" />
  <wsdl:message name="DelLineHttpGetIn">
    <wsdl:part name="oid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelLineHttpGetOut" />
  <wsdl:message name="DelLabHttpGetIn">
    <wsdl:part name="oid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelLabHttpGetOut" />
  <wsdl:message name="DelMapAttrHttpGetIn">
    <wsdl:part name="mypk" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelMapAttrHttpGetOut" />
  <wsdl:message name="RunSQLReturnTableHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EditLabHttpPostIn">
    <wsdl:part name="oid" type="s:string" />
    <wsdl:part name="fk_mapdata" type="s:string" />
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
    <wsdl:part name="frontColor" type="s:string" />
    <wsdl:part name="frontName" type="s:string" />
    <wsdl:part name="frontWeight" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EditLabHttpPostOut" />
  <wsdl:message name="EditMapAttrHttpPostIn">
    <wsdl:part name="mypk" type="s:string" />
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EditMapAttrHttpPostOut" />
  <wsdl:message name="DelLineHttpPostIn">
    <wsdl:part name="oid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelLineHttpPostOut" />
  <wsdl:message name="DelLabHttpPostIn">
    <wsdl:part name="oid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelLabHttpPostOut" />
  <wsdl:message name="DelMapAttrHttpPostIn">
    <wsdl:part name="mypk" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelMapAttrHttpPostOut" />
  <wsdl:portType name="DesignerSoap">
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableSoapIn" />
      <wsdl:output message="tns:RunSQLReturnTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditLab">
      <wsdl:input message="tns:EditLabSoapIn" />
      <wsdl:output message="tns:EditLabSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditMapAttr">
      <wsdl:input message="tns:EditMapAttrSoapIn" />
      <wsdl:output message="tns:EditMapAttrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelLine">
      <wsdl:input message="tns:DelLineSoapIn" />
      <wsdl:output message="tns:DelLineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelLab">
      <wsdl:input message="tns:DelLabSoapIn" />
      <wsdl:output message="tns:DelLabSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelMapAttr">
      <wsdl:input message="tns:DelMapAttrSoapIn" />
      <wsdl:output message="tns:DelMapAttrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DesignerHttpGet">
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EditLab">
      <wsdl:input message="tns:EditLabHttpGetIn" />
      <wsdl:output message="tns:EditLabHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EditMapAttr">
      <wsdl:input message="tns:EditMapAttrHttpGetIn" />
      <wsdl:output message="tns:EditMapAttrHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DelLine">
      <wsdl:input message="tns:DelLineHttpGetIn" />
      <wsdl:output message="tns:DelLineHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DelLab">
      <wsdl:input message="tns:DelLabHttpGetIn" />
      <wsdl:output message="tns:DelLabHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DelMapAttr">
      <wsdl:input message="tns:DelMapAttrHttpGetIn" />
      <wsdl:output message="tns:DelMapAttrHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DesignerHttpPost">
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EditLab">
      <wsdl:input message="tns:EditLabHttpPostIn" />
      <wsdl:output message="tns:EditLabHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EditMapAttr">
      <wsdl:input message="tns:EditMapAttrHttpPostIn" />
      <wsdl:output message="tns:EditMapAttrHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DelLine">
      <wsdl:input message="tns:DelLineHttpPostIn" />
      <wsdl:output message="tns:DelLineHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DelLab">
      <wsdl:input message="tns:DelLabHttpPostIn" />
      <wsdl:output message="tns:DelLabHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DelMapAttr">
      <wsdl:input message="tns:DelMapAttrHttpPostIn" />
      <wsdl:output message="tns:DelMapAttrHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DesignerSoap" type="tns:DesignerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunSQLReturnTable">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLab">
      <soap:operation soapAction="http://tempuri.org/EditLab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMapAttr">
      <soap:operation soapAction="http://tempuri.org/EditMapAttr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelLine">
      <soap:operation soapAction="http://tempuri.org/DelLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelLab">
      <soap:operation soapAction="http://tempuri.org/DelLab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelMapAttr">
      <soap:operation soapAction="http://tempuri.org/DelMapAttr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DesignerSoap12" type="tns:DesignerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunSQLReturnTable">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLab">
      <soap12:operation soapAction="http://tempuri.org/EditLab" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMapAttr">
      <soap12:operation soapAction="http://tempuri.org/EditMapAttr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelLine">
      <soap12:operation soapAction="http://tempuri.org/DelLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelLab">
      <soap12:operation soapAction="http://tempuri.org/DelLab" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelMapAttr">
      <soap12:operation soapAction="http://tempuri.org/DelMapAttr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DesignerHttpGet" type="tns:DesignerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RunSQLReturnTable">
      <http:operation location="/RunSQLReturnTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLab">
      <http:operation location="/EditLab" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="EditMapAttr">
      <http:operation location="/EditMapAttr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DelLine">
      <http:operation location="/DelLine" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DelLab">
      <http:operation location="/DelLab" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DelMapAttr">
      <http:operation location="/DelMapAttr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DesignerHttpPost" type="tns:DesignerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RunSQLReturnTable">
      <http:operation location="/RunSQLReturnTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLab">
      <http:operation location="/EditLab" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="EditMapAttr">
      <http:operation location="/EditMapAttr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DelLine">
      <http:operation location="/DelLine" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DelLab">
      <http:operation location="/DelLab" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DelMapAttr">
      <http:operation location="/DelMapAttr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Designer">
    <wsdl:port name="DesignerSoap" binding="tns:DesignerSoap">
      <soap:address location="http://localhost/Flow/WF/XAP/Designer.asmx" />
    </wsdl:port>
    <wsdl:port name="DesignerSoap12" binding="tns:DesignerSoap12">
      <soap12:address location="http://localhost/Flow/WF/XAP/Designer.asmx" />
    </wsdl:port>
    <wsdl:port name="DesignerHttpGet" binding="tns:DesignerHttpGet">
      <http:address location="http://localhost/Flow/WF/XAP/Designer.asmx" />
    </wsdl:port>
    <wsdl:port name="DesignerHttpPost" binding="tns:DesignerHttpPost">
      <http:address location="http://localhost/Flow/WF/XAP/Designer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>