ccflow/CCFlowWebDesigner/Service References/CYFtpClient/CYFtp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServer">
        <s:complexType />
      </s:element>
      <s:element name="GetServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultFlowRoot">
        <s:complexType />
      </s:element>
      <s:element name="GetDefaultFlowRootResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultFlowRootResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlowShareRoot">
        <s:complexType />
      </s:element>
      <s:element name="GetFlowShareRootResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlowShareRootResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="srcFilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportFlow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportFlowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportFlowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlowFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverDirectoryPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlowFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlowFilesResult" type="tns:ArrayOfFsFileItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFsFileItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FsFileItem" nillable="true" type="tns:FsFileItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FsFileItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bitmap" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFolder" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFolders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverDirectoryPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoldersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFoldersResult" type="tns:ArrayOfFsItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFsItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FsItem" nillable="true" type="tns:FsItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FsItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFolder" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifyTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveFlowBitmap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkFlow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bitmapData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="append" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFlowBitmapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveFlowBitmapResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFlow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkFlow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serverDirPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFlowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFlowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfFsFileItem" nillable="true" type="tns:ArrayOfFsFileItem" />
      <s:element name="ArrayOfFsItem" nillable="true" type="tns:ArrayOfFsItem" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckUserSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="CheckUserSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="RegUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegUser" />
  </wsdl:message>
  <wsdl:message name="RegUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerSoapIn">
    <wsdl:part name="parameters" element="tns:GetServer" />
  </wsdl:message>
  <wsdl:message name="GetServerSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefaultFlowRootSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefaultFlowRoot" />
  </wsdl:message>
  <wsdl:message name="GetDefaultFlowRootSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefaultFlowRootResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlowShareRootSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlowShareRoot" />
  </wsdl:message>
  <wsdl:message name="GetFlowShareRootSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlowShareRootResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="ImportFlowSoapIn">
    <wsdl:part name="parameters" element="tns:ImportFlow" />
  </wsdl:message>
  <wsdl:message name="ImportFlowSoapOut">
    <wsdl:part name="parameters" element="tns:ImportFlowResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlowFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlowFiles" />
  </wsdl:message>
  <wsdl:message name="GetFlowFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlowFilesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFoldersSoapIn">
    <wsdl:part name="parameters" element="tns:GetFolders" />
  </wsdl:message>
  <wsdl:message name="GetFoldersSoapOut">
    <wsdl:part name="parameters" element="tns:GetFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFlowBitmapSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFlowBitmap" />
  </wsdl:message>
  <wsdl:message name="SaveFlowBitmapSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFlowBitmapResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFlowSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFlow" />
  </wsdl:message>
  <wsdl:message name="UploadFlowSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFlowResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RegUserHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetServerHttpGetIn" />
  <wsdl:message name="GetServerHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDefaultFlowRootHttpGetIn" />
  <wsdl:message name="GetDefaultFlowRootHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFlowShareRootHttpGetIn" />
  <wsdl:message name="GetFlowShareRootHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DownloadFileHttpGetIn">
    <wsdl:part name="srcFilePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadFileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ImportFlowHttpGetIn">
    <wsdl:part name="path" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ImportFlowHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFlowFilesHttpGetIn">
    <wsdl:part name="serverDirectoryPath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFlowFilesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfFsFileItem" />
  </wsdl:message>
  <wsdl:message name="GetFoldersHttpGetIn">
    <wsdl:part name="serverDirectoryPath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFoldersHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfFsItem" />
  </wsdl:message>
  <wsdl:message name="SaveFlowBitmapHttpGetIn">
    <wsdl:part name="fkFlow" type="s:string" />
    <wsdl:part name="bitmapData" type="s:string" />
    <wsdl:part name="append" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveFlowBitmapHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadFlowHttpGetIn">
    <wsdl:part name="fkFlow" type="s:string" />
    <wsdl:part name="serverDirPath" type="s:string" />
    <wsdl:part name="description" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadFlowHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RegUserHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetServerHttpPostIn" />
  <wsdl:message name="GetServerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDefaultFlowRootHttpPostIn" />
  <wsdl:message name="GetDefaultFlowRootHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFlowShareRootHttpPostIn" />
  <wsdl:message name="GetFlowShareRootHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DownloadFileHttpPostIn">
    <wsdl:part name="srcFilePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadFileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ImportFlowHttpPostIn">
    <wsdl:part name="path" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ImportFlowHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFlowFilesHttpPostIn">
    <wsdl:part name="serverDirectoryPath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFlowFilesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfFsFileItem" />
  </wsdl:message>
  <wsdl:message name="GetFoldersHttpPostIn">
    <wsdl:part name="serverDirectoryPath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFoldersHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfFsItem" />
  </wsdl:message>
  <wsdl:message name="SaveFlowBitmapHttpPostIn">
    <wsdl:part name="fkFlow" type="s:string" />
    <wsdl:part name="bitmapData" type="s:string" />
    <wsdl:part name="append" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveFlowBitmapHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadFlowHttpPostIn">
    <wsdl:part name="fkFlow" type="s:string" />
    <wsdl:part name="serverDirPath" type="s:string" />
    <wsdl:part name="description" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadFlowHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CYFtpSoap">
    <wsdl:operation name="CheckUser">
      <wsdl:input message="tns:CheckUserSoapIn" />
      <wsdl:output message="tns:CheckUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegUser">
      <wsdl:input message="tns:RegUserSoapIn" />
      <wsdl:output message="tns:RegUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServer">
      <wsdl:input message="tns:GetServerSoapIn" />
      <wsdl:output message="tns:GetServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultFlowRoot">
      <wsdl:input message="tns:GetDefaultFlowRootSoapIn" />
      <wsdl:output message="tns:GetDefaultFlowRootSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowShareRoot">
      <wsdl:input message="tns:GetFlowShareRootSoapIn" />
      <wsdl:output message="tns:GetFlowShareRootSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="tns:DownloadFileSoapIn" />
      <wsdl:output message="tns:DownloadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportFlow">
      <wsdl:input message="tns:ImportFlowSoapIn" />
      <wsdl:output message="tns:ImportFlowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowFiles">
      <wsdl:input message="tns:GetFlowFilesSoapIn" />
      <wsdl:output message="tns:GetFlowFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <wsdl:input message="tns:GetFoldersSoapIn" />
      <wsdl:output message="tns:GetFoldersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFlowBitmap">
      <wsdl:input message="tns:SaveFlowBitmapSoapIn" />
      <wsdl:output message="tns:SaveFlowBitmapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFlow">
      <wsdl:input message="tns:UploadFlowSoapIn" />
      <wsdl:output message="tns:UploadFlowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CYFtpHttpGet">
    <wsdl:operation name="CheckUser">
      <wsdl:input message="tns:CheckUserHttpGetIn" />
      <wsdl:output message="tns:CheckUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RegUser">
      <wsdl:input message="tns:RegUserHttpGetIn" />
      <wsdl:output message="tns:RegUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServer">
      <wsdl:input message="tns:GetServerHttpGetIn" />
      <wsdl:output message="tns:GetServerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultFlowRoot">
      <wsdl:input message="tns:GetDefaultFlowRootHttpGetIn" />
      <wsdl:output message="tns:GetDefaultFlowRootHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowShareRoot">
      <wsdl:input message="tns:GetFlowShareRootHttpGetIn" />
      <wsdl:output message="tns:GetFlowShareRootHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="tns:DownloadFileHttpGetIn" />
      <wsdl:output message="tns:DownloadFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportFlow">
      <wsdl:input message="tns:ImportFlowHttpGetIn" />
      <wsdl:output message="tns:ImportFlowHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowFiles">
      <wsdl:input message="tns:GetFlowFilesHttpGetIn" />
      <wsdl:output message="tns:GetFlowFilesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <wsdl:input message="tns:GetFoldersHttpGetIn" />
      <wsdl:output message="tns:GetFoldersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFlowBitmap">
      <wsdl:input message="tns:SaveFlowBitmapHttpGetIn" />
      <wsdl:output message="tns:SaveFlowBitmapHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFlow">
      <wsdl:input message="tns:UploadFlowHttpGetIn" />
      <wsdl:output message="tns:UploadFlowHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CYFtpHttpPost">
    <wsdl:operation name="CheckUser">
      <wsdl:input message="tns:CheckUserHttpPostIn" />
      <wsdl:output message="tns:CheckUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RegUser">
      <wsdl:input message="tns:RegUserHttpPostIn" />
      <wsdl:output message="tns:RegUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServer">
      <wsdl:input message="tns:GetServerHttpPostIn" />
      <wsdl:output message="tns:GetServerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultFlowRoot">
      <wsdl:input message="tns:GetDefaultFlowRootHttpPostIn" />
      <wsdl:output message="tns:GetDefaultFlowRootHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowShareRoot">
      <wsdl:input message="tns:GetFlowShareRootHttpPostIn" />
      <wsdl:output message="tns:GetFlowShareRootHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="tns:DownloadFileHttpPostIn" />
      <wsdl:output message="tns:DownloadFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportFlow">
      <wsdl:input message="tns:ImportFlowHttpPostIn" />
      <wsdl:output message="tns:ImportFlowHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowFiles">
      <wsdl:input message="tns:GetFlowFilesHttpPostIn" />
      <wsdl:output message="tns:GetFlowFilesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <wsdl:input message="tns:GetFoldersHttpPostIn" />
      <wsdl:output message="tns:GetFoldersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFlowBitmap">
      <wsdl:input message="tns:SaveFlowBitmapHttpPostIn" />
      <wsdl:output message="tns:SaveFlowBitmapHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFlow">
      <wsdl:input message="tns:UploadFlowHttpPostIn" />
      <wsdl:output message="tns:UploadFlowHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CYFtpSoap" type="tns:CYFtpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegUser">
      <soap:operation soapAction="http://tempuri.org/RegUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServer">
      <soap:operation soapAction="http://tempuri.org/GetServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultFlowRoot">
      <soap:operation soapAction="http://tempuri.org/GetDefaultFlowRoot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowShareRoot">
      <soap:operation soapAction="http://tempuri.org/GetFlowShareRoot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportFlow">
      <soap:operation soapAction="http://tempuri.org/ImportFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowFiles">
      <soap:operation soapAction="http://tempuri.org/GetFlowFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <soap:operation soapAction="http://tempuri.org/GetFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFlowBitmap">
      <soap:operation soapAction="http://tempuri.org/SaveFlowBitmap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFlow">
      <soap:operation soapAction="http://tempuri.org/UploadFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CYFtpSoap12" type="tns:CYFtpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap12:operation soapAction="http://tempuri.org/CheckUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegUser">
      <soap12:operation soapAction="http://tempuri.org/RegUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServer">
      <soap12:operation soapAction="http://tempuri.org/GetServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultFlowRoot">
      <soap12:operation soapAction="http://tempuri.org/GetDefaultFlowRoot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowShareRoot">
      <soap12:operation soapAction="http://tempuri.org/GetFlowShareRoot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportFlow">
      <soap12:operation soapAction="http://tempuri.org/ImportFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowFiles">
      <soap12:operation soapAction="http://tempuri.org/GetFlowFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <soap12:operation soapAction="http://tempuri.org/GetFolders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFlowBitmap">
      <soap12:operation soapAction="http://tempuri.org/SaveFlowBitmap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFlow">
      <soap12:operation soapAction="http://tempuri.org/UploadFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CYFtpHttpGet" type="tns:CYFtpHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckUser">
      <http:operation location="/CheckUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegUser">
      <http:operation location="/RegUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServer">
      <http:operation location="/GetServer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultFlowRoot">
      <http:operation location="/GetDefaultFlowRoot" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowShareRoot">
      <http:operation location="/GetFlowShareRoot" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <http:operation location="/DownloadFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportFlow">
      <http:operation location="/ImportFlow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowFiles">
      <http:operation location="/GetFlowFiles" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <http:operation location="/GetFolders" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFlowBitmap">
      <http:operation location="/SaveFlowBitmap" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFlow">
      <http:operation location="/UploadFlow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CYFtpHttpPost" type="tns:CYFtpHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckUser">
      <http:operation location="/CheckUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegUser">
      <http:operation location="/RegUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServer">
      <http:operation location="/GetServer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultFlowRoot">
      <http:operation location="/GetDefaultFlowRoot" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowShareRoot">
      <http:operation location="/GetFlowShareRoot" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <http:operation location="/DownloadFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportFlow">
      <http:operation location="/ImportFlow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowFiles">
      <http:operation location="/GetFlowFiles" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <http:operation location="/GetFolders" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFlowBitmap">
      <http:operation location="/SaveFlowBitmap" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFlow">
      <http:operation location="/UploadFlow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CYFtp">
    <wsdl:port name="CYFtpSoap" binding="tns:CYFtpSoap">
      <soap:address location="http://localhost/ccflow/WF/Admin/XAP/CYFtp.asmx" />
    </wsdl:port>
    <wsdl:port name="CYFtpSoap12" binding="tns:CYFtpSoap12">
      <soap12:address location="http://localhost/ccflow/WF/Admin/XAP/CYFtp.asmx" />
    </wsdl:port>
    <wsdl:port name="CYFtpHttpGet" binding="tns:CYFtpHttpGet">
      <http:address location="http://localhost/ccflow/WF/Admin/XAP/CYFtp.asmx" />
    </wsdl:port>
    <wsdl:port name="CYFtpHttpPost" binding="tns:CYFtpHttpPost">
      <http:address location="http://localhost/ccflow/WF/Admin/XAP/CYFtp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>