ccflow/VisualFlowWebDesiger/Service References/DA/DA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSQLReturnTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQL" />
  </wsdl:message>
  <wsdl:message name="RunSQLSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTable" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTableResponse" />
  </wsdl:message>
  <wsdl:portType name="DASoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <wsdl:input message="tns:RunSQLSoapIn" />
      <wsdl:output message="tns:RunSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableSoapIn" />
      <wsdl:output message="tns:RunSQLReturnTableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DASoap" type="tns:DASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <soap:operation soapAction="http://tempuri.org/RunSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DASoap12" type="tns:DASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <soap12:operation soapAction="http://tempuri.org/RunSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DA">
    <wsdl:port name="DASoap" binding="tns:DASoap">
      <soap:address location="http://localhost/Flow/DA.asmx" />
    </wsdl:port>
    <wsdl:port name="DASoap12" binding="tns:DASoap12">
      <soap12:address location="http://localhost/Flow/DA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>