ccflow/FreeFrm/Service References/FF/FreeFrm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqls" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLReturnTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSQLReturnTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSFTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ensName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSFTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestSFTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerFrm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fk_mapdata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerFrmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerFrmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFrm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqls" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFrmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveFrmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLsSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLs" />
  </wsdl:message>
  <wsdl:message name="RunSQLsSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLsResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTable" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLReturnTableResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableSoapIn">
    <wsdl:part name="parameters" element="tns:RequestSFTable" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableSoapOut">
    <wsdl:part name="parameters" element="tns:RequestSFTableResponse" />
  </wsdl:message>
  <wsdl:message name="GenerFrmSoapIn">
    <wsdl:part name="parameters" element="tns:GenerFrm" />
  </wsdl:message>
  <wsdl:message name="GenerFrmSoapOut">
    <wsdl:part name="parameters" element="tns:GenerFrmResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFrmSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFrm" />
  </wsdl:message>
  <wsdl:message name="SaveFrmSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFrmResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpGetIn">
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpGetIn">
    <wsdl:part name="ensName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerFrmHttpGetIn">
    <wsdl:part name="fk_mapdata" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerFrmHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveFrmHttpGetIn">
    <wsdl:part name="xml" type="s:string" />
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveFrmHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpPostIn">
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLsHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLReturnTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpPostIn">
    <wsdl:part name="ensName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestSFTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerFrmHttpPostIn">
    <wsdl:part name="fk_mapdata" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerFrmHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveFrmHttpPostIn">
    <wsdl:part name="xml" type="s:string" />
    <wsdl:part name="sqls" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveFrmHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="FreeFrmSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <wsdl:input message="tns:RunSQLsSoapIn" />
      <wsdl:output message="tns:RunSQLsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableSoapIn" />
      <wsdl:output message="tns:RunSQLReturnTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <wsdl:input message="tns:RequestSFTableSoapIn" />
      <wsdl:output message="tns:RequestSFTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <wsdl:input message="tns:GenerFrmSoapIn" />
      <wsdl:output message="tns:GenerFrmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <wsdl:input message="tns:SaveFrmSoapIn" />
      <wsdl:output message="tns:SaveFrmSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FreeFrmHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <wsdl:input message="tns:RunSQLsHttpGetIn" />
      <wsdl:output message="tns:RunSQLsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableHttpGetIn" />
      <wsdl:output message="tns:RunSQLReturnTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <wsdl:input message="tns:RequestSFTableHttpGetIn" />
      <wsdl:output message="tns:RequestSFTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <wsdl:input message="tns:GenerFrmHttpGetIn" />
      <wsdl:output message="tns:GenerFrmHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <wsdl:input message="tns:SaveFrmHttpGetIn" />
      <wsdl:output message="tns:SaveFrmHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FreeFrmHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <wsdl:input message="tns:RunSQLsHttpPostIn" />
      <wsdl:output message="tns:RunSQLsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <wsdl:input message="tns:RunSQLReturnTableHttpPostIn" />
      <wsdl:output message="tns:RunSQLReturnTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <wsdl:input message="tns:RequestSFTableHttpPostIn" />
      <wsdl:output message="tns:RequestSFTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <wsdl:input message="tns:GenerFrmHttpPostIn" />
      <wsdl:output message="tns:GenerFrmHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <wsdl:input message="tns:SaveFrmHttpPostIn" />
      <wsdl:output message="tns:SaveFrmHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FreeFrmSoap" type="tns:FreeFrmSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <soap:operation soapAction="http://tempuri.org/RunSQLs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <soap:operation soapAction="http://tempuri.org/RunSQLReturnTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <soap:operation soapAction="http://tempuri.org/RequestSFTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <soap:operation soapAction="http://tempuri.org/GenerFrm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <soap:operation soapAction="http://tempuri.org/SaveFrm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FreeFrmSoap12" type="tns:FreeFrmSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <soap12:operation soapAction="http://tempuri.org/RunSQLs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <soap12:operation soapAction="http://tempuri.org/RunSQLReturnTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <soap12:operation soapAction="http://tempuri.org/RequestSFTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <soap12:operation soapAction="http://tempuri.org/GenerFrm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <soap12:operation soapAction="http://tempuri.org/SaveFrm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FreeFrmHttpGet" type="tns:FreeFrmHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <http:operation location="/RunSQLs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <http:operation location="/RunSQLReturnTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <http:operation location="/RequestSFTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <http:operation location="/GenerFrm" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <http:operation location="/SaveFrm" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FreeFrmHttpPost" type="tns:FreeFrmHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLs">
      <http:operation location="/RunSQLs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLReturnTable">
      <http:operation location="/RunSQLReturnTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSFTable">
      <http:operation location="/RequestSFTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerFrm">
      <http:operation location="/GenerFrm" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFrm">
      <http:operation location="/SaveFrm" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FreeFrm">
    <wsdl:port name="FreeFrmSoap" binding="tns:FreeFrmSoap">
      <soap:address location="http://localhost:8352/WF/MapDef/FreeFrm/FreeFrm.asmx" />
    </wsdl:port>
    <wsdl:port name="FreeFrmSoap12" binding="tns:FreeFrmSoap12">
      <soap12:address location="http://localhost:8352/WF/MapDef/FreeFrm/FreeFrm.asmx" />
    </wsdl:port>
    <wsdl:port name="FreeFrmHttpGet" binding="tns:FreeFrmHttpGet">
      <http:address location="http://localhost:8352/WF/MapDef/FreeFrm/FreeFrm.asmx" />
    </wsdl:port>
    <wsdl:port name="FreeFrmHttpPost" binding="tns:FreeFrmHttpPost">
      <http:address location="http://localhost:8352/WF/MapDef/FreeFrm/FreeFrm.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>